:root{
    --main-color: teal;
    --link-color: #666666;
    --texto1: #999999;
    --highligh-text: #333333;
    --input-text: #555555;
    --white-color: white;
    --point-list: #cccccc;
    --line-input: #806767;
    --cor-de-fundo: #8284ff;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.tela-login{
    height: 100%;
    background-color: var(--cor-de-fundo);
}
.tela-login ul, li{
    margin: 0px;
    list-style-type: none;
}
.tela-login input, button{
    outline: none !important;
    border: none;
}
.tela-login input:focus{
    background-color: ghostwhite;
}
.tela-login button:hover{
    cursor: pointer;
}
.tela-login .texto1{
    font-size: 15px;
    color: var(--texto1);
    line-height: 1.5px;
}
.tela-login .texto2{
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5px;
}
.tela-login .margin-bottom-35{
    margin-bottom: 35px;
}
.tela-login .margin-top-35{
    margin-top: 35px;
}
.tela-login .margin-bottom-8{
    margin-bottom: 8px;
}
.tela-login .margin-top-8{
    margin-top: 8px;
}
.tela-login .container{
    width: 100%;
    margin: 0;
}
.tela-login .container-login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: var(--white-color);
}
.tela-login .wrap-login{
    width: 370px;
    margin-right: 50px;
    padding: auto;
    background-color: var(--white-color);
}
.tela-login #img-form{
    margin-left: 200px;
    width: 600px;
    border-radius: 20px;
}
.tela-login .login-form{
    width: 100%;
}
.tela-login .login-form-title{
    display: block;
    font-size: 39px;
    color: var(--highligh-text);
    line-height: 1.2;
    text-align: center;
}
.tela-login .wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--line-input);
}
.tela-login .input-form{
    font-size: 18px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
}
.tela-login .focus-input-form{
    position: absolute;
    display: block;
    width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.tela-login .focus-input-form::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background-color: var(--main-color);
}
.tela-login .focus-input-form::after{
    font-size: 18px;
    color: var(--texto1);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
}
.tela-login .input-form:focus + .focus-input-form::after{
    top: -20px;
    font-size: 15px;
}
.tela-login .container-login-form-btn{
    width: 80%;
    display: flex;
    justify-content: center;
}
.tela-login .login-form-btn{
    font-size: 16px;
    color: rgb(107, 107, 216);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--line-input);
    border-radius: 5px;
    transition: all 0.4s;
}
.tela-login .login-form-btn:hover{
    background-color: var(--input-text);
}
.tela-login a{
    font-size: 14px;
    line-height: 1.7;
    color: var(--link-color);
    margin: 0px;
    transition: all 0.4s;
}
.tela-login a:focus{
    outline: none !important;
}
.tela-login a:hover{
    text-decoration: none;
    color: var(--highligh-text);
}
.tela-login .login-utils{
    margin-top: 20px;
    
}
.tela-login .login-utils li{
    position: relative;
    padding-left: 16px;
}
.tela-login .login-utils li::before{
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--point-list);
    top: 45%;
    transform: translateY(-50%);
    left: 0;
}
